/*Variables*/
/*colours*/
$site-logo:#f9ebd9;
$firstMenuText:#adcc78;
$secondMenuText:#ed1941;
$thirdMenuText:#e18b5f;
//Drink colours
$Reveller:#2e4a87;
$Charmer:#f98847;
$Truffler:#82bb61;
$HogFather:#9a667d;
$Explorer:#fcb316;
$Navelgazer:#009d99;
$GingernChill:#ed1941;
$AppleTingler:#eee1a0;
$AppleRambler:#adcc78;
$FlowerPower:#e3c4cf;
$VeryBerried:#f2b1bf;
$DeeplyRooted:#f3aa5d;
$TotallyMinted:#b9d7b8;




/*Custom Assets*/

@font-face{
font-family: Rockwell-ExtraBold;
/*src:url("/rockwell/rockwell-extrabold.otf");*/
src:url(ROCKEB.ttf);
}

.cursor{
  cursor: url(../img/MiniPigCursor.png), auto;
}

//-------------------------------------------------------------//
/* Nav Bar Styles */
//-------------------------------------------------------------//
.navbar-custom
{
    background-color: #2875a4!important;
    font-family: Rockwell-ExtraBold;
    font-size: 28pt;
    .navbar-brand 
    {
        font-family: Rockwell-ExtraBold;
        font-size: 28pt;
        color: $site-logo;
    }
    #our_drinks,#bottled_products
    {
    color: $firstMenuText;
    }
    #about_us,#draught_products
    {
        color:$secondMenuText;
    }
    #contact_us,#juicy_products
    {   
        color:$thirdMenuText;
    }   
}
//-----------------------------------------------------------------//
/*End Nav Bar */
//-----------------------------------------------------------------//


//-----------------------------------------------------------------//
//Common Styles
//-----------------------------------------------------------------//

//******* Hero Image - Taps********//
.page-hero 
{
    background:url('../img/all-pump-clips-DSC.jpg') no-repeat center;   
    background-size: cover;
    margin-top: 80px;
    height: 701px;
    position: relative;
}
//***** Hero End ********//


//This controls all of the generic settings for the page/s
.section-backgrounds
{
    background:url('../img/oak.jpg') no-repeat center;   
    background-size: cover;
    min-height:600px;
    font-family: Rockwell-ExtraBold;
    padding-top:20px;

    #drink_card
    {
        margin-top: 5%;
        border-radius: 20px 20px 20px 20px;
    }
    h1
    {
        text-align: center;
        color:#f9ebd9;
        text-shadow: 5px 5px #363636;
    }
    h5
    {
    
        color: #2875a4; 
        font-size: 1.75rem;
    }
    p
    {
        color:#60b7eb;
        font-size: 1.25rem;
    }
    #drinks-links
    {
        font-size: 14pt;
        font-family: Rockwell-ExtraBold;
    }
    #category_image
    {
        background:url('../img/bottles-main.png') no-repeat center;
        background-size: cover;
        border-radius: 20px 0px 0px 20px;
        //height:400px;
    }
    #history_image
    {
    background: url('../img/OPlogo2012large.png');
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    height:400px;
    }
    #product_card
    {
        margin-top: 10%;
        border-radius: 20px 20px 20px 20px;
    }
}
/*mini nav (drinks) */
#green_patch
{
    height: 72px;
    background-color: #336666;

    div
    {
        height: 72px;    
    }
    .col-sm
    {
        text-align: center;            
    }
    .signpost
    {
        position: inherit;
        bottom: 153px;
    }

    #bottled:hover
    {
        animation-name: waving_signpost;
        animation-duration: 1s;
        animation-iteration-count: 20;
    }

    #draught:hover
    {
        animation-name: waving_signpost;
        animation-duration: 1s;
        animation-iteration-count: 20;
    }

    #juicy:hover
    {
        animation-name: waving_signpost;
        animation-duration: 1s;
        animation-iteration-count: 20;
    }

@keyframes waving_signpost 
    {
      
      10%  {transform: rotate(-7deg);}
      40%  {transform: rotate(-10deg);}
      70%  {transform: rotate(7deg);}
      100%   {transform: rotate(10deg);}
    }
}
#barrels_row
{
    width:100%;
    position: absolute;
    //padding:0 5% 0 5%;
    background:url('../img/oak.jpg') no-repeat center;   
    background-size: cover;
    bottom:0px;
    margin:0px;
}


   